terraform/.terraform/
terraform/modules/*/.terraform/
ansible/.ansible/
terraform/modules/*/.terraform.lock.hcl
.env
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfplan*
*.auto.tfvars
!guests.auto.tfvars.example
